{$SITE_DOMAIN:localhost} {
  encode gzip

  handle /api/internal-health {
    rewrite * /v1/health/ready
    reverse_proxy api:4000
  }

  handle /v1/* {
    reverse_proxy api:4000
  }

  handle {
    reverse_proxy web:3000
  }
}
